body {
    margin: 0;
    padding: 0;
}

/* change the style of autofilled inputs */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #212121 inset!important;
    -webkit-text-fill-color: #fff;
    font-family: 'Montserrat';
    transition: background-color 0.3s ease;
}
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #333333 inset!important;
    -webkit-text-fill-color: #4edfff;
    font-family: 'Montserrat';
    transition: background-color 0.3s ease;
}

/* to hide increase/decrease arrows of number type input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/* scrollbar styling for webkit browsers only */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #80808080; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #080808; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #080808ab; 
}
::-webkit-scrollbar-corner {
    display: none;
}